# Auto detect text files and perform LF normalization
* text=auto
*.csv filter=lfs diff=lfs merge=lfs -text
cd filter=lfs diff=lfs merge=lfs -text
ds-dashboard filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
